*{margin: 0;padding: 0;}

#content{width: 85%;margin: 0 auto;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);background: whitesmoke;margin-top: 10px;}
a{text-decoration: none;}

.header{height: 120px;padding-top: 35px;}
.logo{float: left;}
.logo img{border-radius: 10px;padding-left: 10px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);margin-left: 20px;}
.lan{float: right;list-style-type: none;}
.lan img{border-radius: 50%;}
.lan li{display: inline-block;padding: 0 50px;}

.main{width: 100%;}
.main_left{float: left;width: 55%;}
.pic{width: 100%;}
#left{height: 555px;position: relative;overflow: hidden;} 
.main_right{width: 30%;float: right;margin-top: 50px;}
.main_right .login_input{border: 1px solid #ccc;}
.login_input p a{margin-left: 20px;color: orange;}
.login_input .input{width: 75%;height: 42px;border-radius: 10px;margin: 5px 30px;padding-left: 10px;border: 1px solid #ccc;outline-style: none;}
.login_input input{margin-left: 40px;}
.login_input span{margin: 0 5%;float: left;}
.login_input button{width: 75%; height: 35px;color: black;background-color: red;border-radius: 10px;margin: 10px 35px;cursor: pointer;outline-style: none;}
.login_input>a{display: block;text-align: center;margin-top: 20px;font-size: 12px;}
.login_input .qq{padding-bottom: 15%;width: 90%;margin: 0 auto;text-align: center;padding-top: 10px;}
.login_input ul{list-style-type: none;height: 30px;margin-top: 10px;}
.login_input ul li{display: inline-block;margin-left: 15px;margin-right: 15px;}
.login_input img{width: 30px;height: 30px;}

.login_input .p{height: 30px;line-height: 30px;}
#result_username,#result_userpwd{width: 260px;height: 20px;margin-left: 30px;}

.main:after{content: "";display: table;clear: both;}

.footer {padding: 20px;text-align: center;background: #ddd;margin-top: 20px;}
.footer_content ul{list-style-type: none;}
.footer_content ul li{display: inline-block;padding: 10px;}
.footer_content a{text-decoration: none;color: black;font-size: 18px;}
.footer_content a:hover{color: cyan;}
.footer_content h5{margin-top: 10px;}


/* 响应式布局 - 屏幕尺寸小于 800px 时，两列布局改为上下布局 */
@media screen and (max-width: 900px) {
  .main_left, .main_right {   
    width: 100%;
    padding: 0;
  }
}
 
 
/* 响应式布局 -屏幕尺寸小于 400px 时，导航等布局改为上下布局 */
@media screen and (max-width: 900px) {
  .footer_content li{
    float: none;
    width: 100%;
  }
}
/* 响应式布局 -屏幕尺寸小于 400px 时，导航等布局改为上下布局 */
@media screen and (max-width: 1000px) {
  .login_input span{
    float: none;
    width: 100%;
    margin: 0;
  }
}


